absl-py==0.8.1
aiohttp==3.6.2
asgiref==3.2.3
asn1crypto==1.1.0
astor==0.8.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
bottle==0.12.18
cachetools==3.1.1
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
colorama==0.4.3
conan==1.22.3
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
deprecation==2.0.7
distro==1.1.0
dj-database-url==0.5.0
Django==3.0.2
django-admin-tools==0.9.0
django-crispy-forms==1.8.1
django-heroku==0.3.1
django-nested-admin==3.2.4
django-restframework==0.0.1
django-telegram-bot==0.6.0
django-telegrambot==1.0.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
entrypoints==0.3
fasteners==0.15
future==0.18.2
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==20.0.4
h5py==2.10.0
httpie==2.0.0
idna==2.8
idna-ssl==1.1.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.3
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
monotonic==1.5
multidict==4.7.1
nbconvert==5.6.0
nbformat==4.4.0
node-semver==0.6.1
notebook==6.0.1
numpy==1.17.2
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==20.0
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
patch-ng==1.17.2
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
pluginbase==0.7
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.11.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
Pygments==2.5.2
PyJWT==1.7.1
pymongo==3.9.0
pyparsing==2.4.2
pyrsistent==0.15.4
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
python-decouple==3.3
python-monkey-business==1.0.0
python-telegram-bot==3.2.0
pytz==2019.3
pywin32==225
pywinpty==0.5.5
PyYAML==5.2
pyzmq==18.1.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
schedule==0.6.0
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
SQLAlchemy==1.3.12
sqlparse==0.3.0
telebot==0.0.3
telepot==12.7
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.2
typing-extensions==3.7.4.1
urllib3==1.25.8
virtualenv==16.6.1
virtualenv-clone==0.5.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
xlrd==1.2.0
yarl==1.4.2
