<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785496213404-2hrnaqamesshfjcc3lche5avjrs4oor8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785496213404-2hrnaqamesshfjcc3lche5avjrs4oor8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEeRAvSNVwK3VuN5DRF-ERUjNQraBEnuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>785496213404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neobis.CRMClient</string>
	<key>PROJECT_ID</key>
	<string>crmclient-abb0f</string>
	<key>STORAGE_BUCKET</key>
	<string>crmclient-abb0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785496213404:ios:5740291f64ccb423adea59</string>
	<key>DATABASE_URL</key>
	<string>https://crmclient-abb0f.firebaseio.com</string>
</dict>
</plist>